// addon card style
.addons__cards {
	@include flex(column, none, none, 15px);
	div.active {
		background-color: Color(PC);
		border-color: Color(PB);
	}
	.addon__card {
		@include flex(row, none, center, 20px);
		border: 1px solid Color(LG);
		padding: 10px 15px;
		border-radius: 10px;
		& .addon__info {
			width: calc(100%);
			@include flex(row, space-between, center, none);
			margin-top: 15px;
			h2 {
				color: Color(MB);
                font-size: 1.5rem;
			}
			p {
				color: Color(CG);
				font-weight: bold;
			}
		}
	}
}

// check box style
.cbx {
	position: relative;
	top: 1px;
	width: 27px;
	height: 27px;
	border: 1px solid #c8ccd4;
	border-radius: 3px;
	vertical-align: middle;
	transition: background 0.1s ease;
	cursor: pointer;
	display: block;
	&:after {
		content: '';
		position: absolute;
		top: 2px;
		left: 8px;
		width: 7px;
		height: 14px;
		opacity: 0;
		transform: rotate(45deg) scale(0);
		border-right: 2px solid #fff;
		border-bottom: 2px solid #fff;
		transition: all 0.3s ease;
		transition-delay: 0.15s;
	}
}
.lbl {
	margin-left: 5px;
	vertical-align: middle;
	cursor: pointer;
}
#cbx {
	&:checked {
		& ~ .cbx {
			border-color: transparent;
			background: #6871f1;

			&:after {
				opacity: 1;
				transform: rotate(45deg) scale(1);
			}
		}
	}
}
#cbx2 {
	&:checked {
		& ~ .cbx {
			border-color: transparent;
			background: #6871f1;
			&:after {
				opacity: 1;
				transform: rotate(45deg) scale(1);
			}
		}
	}
}
#cbx3 {
	&:checked {
		& ~ .cbx {
			border-color: transparent;
			background: #6871f1;

			&:after {
				opacity: 1;
				transform: rotate(45deg) scale(1);
			}
		}
	}
}
.cntr {
	position: relative;
}
.hidden-xs-up {
	display: none !important;
}
