// plans
.plans {
	.plans_cards {
		@include flex(column, none, none, 5px);

		.plan_card {
			user-select: none;
			@include flex(row, none, center, 10px);
			padding: 0 15px;
			height: 100px;
			border: 1px solid Color(LG);
			border-radius: 10px;
			.plan__image {
				width: 50px;
				height: 50px;
			}
			.plan_info {
				margin-top: 10px;
				@include flex(column, none, none, 5px);
				h2 {
					color: Color(MB);
					font-size: 1.7rem;
				}
				p {
					font-size: 1.2rem;
					color: Color(CG);
					font-weight: bold;
				}
			}
			&:nth-child(1) {
				.plan__image {
					@include bg(Image('icon-arcade'));
				}
			}
			&:nth-child(2) {
				.plan__image {
					@include bg(Image('icon-advanced'));
				}
			}
			&:nth-child(3) {
				.plan__image {
					@include bg(Image('icon-pro'));
				}
			}
		}
		.active {
			border-color: Color(PB);
			background-color: Color(PC);
		}
	}
	.toggler {
		margin-top: 10px;
		background-color: Color(MA);
		padding: 10px;
		@include flex(row, center, none, 10px);
		border-radius: 10px;
		& span {
			font-weight: bold;
			color: Color(CG);
			font-size: 1.3rem;
			&.active {
				color: Color(MB);
			}
		}
		.toggle {
			@include flex(column, center, flex-start, 10px);
			padding: 0 3px;
			width: 50px;
			height: 25px;
			border-radius: 25px;
			background-color: Color(MB);
			.circle {
				width: 20px;
				height: 20px;
				border-radius: 50%;
				background-color: Color(LG);
			}
		}
	}
}

// addon card style
.addons__cards {
	@include flex(column, none, none, 10px);
	div.active {
		background-color: Color(PC);
		border-color: Color(PB);
	}
	.addon__card {
		@include flex(row, none, center, 10px);
		border: 1px solid Color(LG);
		padding: 10px 15px;
		border-radius: 10px;
		& .addon__info {
			width: calc(100%);
			@include flex(row, space-between, center, none);
			margin-top: 15px;
			h2 {
				color: Color(MB);
                font-size: 1.5rem;
			}
			p {
				color: Color(CG);
				font-weight: bold;
			}
		}
	}
}

// check box style
.cbx {
	position: relative;
	top: 1px;
	width: 27px;
	height: 27px;
	border: 1px solid #c8ccd4;
	border-radius: 3px;
	transition: background 0.1s ease;
	cursor: pointer;
	display: block;
	&:after {
		content: '';
		position: absolute;
		top: 2px;
		left: 8px;
		width: 7px;
		height: 14px;
		opacity: 0;
		transform: rotate(45deg) scale(0);
		border-right: 2px solid #fff;
		border-bottom: 2px solid #fff;
		transition: all 0.3s ease;
		transition-delay: 0.15s;
	}
}
.lbl {
	margin-left: 5px;
	vertical-align: middle;
	cursor: pointer;
}
#cbx {
	&:checked {
		& ~ .cbx {
			border-color: transparent;
			background: #6871f1;

			&:after {
				opacity: 1;
				transform: rotate(45deg) scale(1);
			}
		}
	}
}
#cbx2 {
	&:checked {
		& ~ .cbx {
			border-color: transparent;
			background: #6871f1;
			&:after {
				opacity: 1;
				transform: rotate(45deg) scale(1);
			}
		}
	}
}
#cbx3 {
	&:checked {
		& ~ .cbx {
			border-color: transparent;
			background: #6871f1;

			&:after {
				opacity: 1;
				transform: rotate(45deg) scale(1);
			}
		}
	}
}
.cntr {
	position: relative;
}
.hidden-xs-up {
	display: none !important;
}
