@include mobile {
	// mobile design here
	body {
		background-color: Color(MA);
	}
	// steps style
	.steps {
		@include flex(row, center, flex-start, 20px);
		@include bg(Image('bg-side-mobile'));
		height: 200px;

		.step {
			.step__number {
                transition: background 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
				margin-top: 25px;
				width: 50px;
				height: 50px;

				font-size: 1.5rem;
				font-family: Font(Bold);

				border-radius: 50%;
				// make the color and border
				color: Color(WE);
				border: 2px solid Color(WE);
				@include flex(row, center, center, none);
			}
			.active {
				color: Color(MB);
				background-color: Color(LB);
				border-color: Color(LB);
			}

			// step info style
			.step__info {
				display: none;
			}
		}
	}

	// forms style
	.forms {
		position: absolute;
		left: 50%;
		top: 15%;
		border-radius: 10px;
		transform: translateX(-50%);
		background-color: Color(WE);
		padding: 15px 25px;
		width: 93%;
		box-shadow: 0 5px 10px Color(PC);
        min-height: 300px;
        transition: height 100ms ease;
		// founded in all forms
		.header {
			margin-bottom: 20px;
			h1 {
				color: Color(MB);
				font-size: 2.2rem;
				font-weight: 700;
			}
			p {
				color: Color(CG);
				font-size: 1.5rem;
			}
		}
        
		// first form
		.personal_info {
			.inputs {
				div {
					@include flex(column, none, none, 5px);
					margin-bottom: 10px;
					label {
						font-size: 1.3rem;
						color: Color(MB);
						text-transform: capitalize;
					}
					input {
						border: 1px solid Color(LG);
						padding: 15px;
						font-size: 1.3rem;
						border-radius: 5px;
						font-family: inherit;
						outline: none;
						&:focus {
							border-color: Color(MB);
						}
						&::placeholder {
							font-weight: bold;
							color: #999;
						}
					}
				}
			}
		}
		// end first form
		// second form
		.plans {
			.plans_cards {
				@include flex(column, none, none, 10px);

				.plan_card {
                    user-select: none;
					@include flex(row, none, center, 10px);
					padding: 0 15px;
					height: 100px;
					border: 1px solid Color(LG);
					border-radius: 10px;
					.plan__image {
						width: 50px;
						height: 50px;
					}
					.plan_info {
						margin-top: 10px;
						@include flex(column, none, none, 5px);
						h2 {
							color: Color(MB);
                            font-size: 1.7rem;
						}
						p {
							font-size: 1.2rem;
							color: Color(CG);
                            font-weight: bold;
						}
					}
					&:nth-child(1) {
						.plan__image {
							@include bg(Image('icon-arcade'));
						}
					}
                    &:nth-child(2) {
						.plan__image {
							@include bg(Image('icon-advanced'));
						}
					}
                    &:nth-child(3) {
						.plan__image {
							@include bg(Image('icon-pro'));
						}
					}
				}
                .active{
                    border-color: Color(PB);
                    background-color: Color(PC);
                }
			}
            .toggler{
                margin-top: 15px;
                background-color: Color(MA);
                padding: 10px;
                @include flex(row,center,none,10px);
                border-radius: 10px;
                & span{
                    font-weight: bold;
                    color: Color(CG);
                    font-size: 1.3rem;
                    &.active{
                        color: Color(MB);
                    }
                }
                .toggle{
                    @include flex(column,center,flex-start,10px);
                    padding: 0 2px;
                    width: 50px;
                    height: 25px;
                    border-radius: 25px;
                    background-color: Color(MB);
                    .circle{
                        width: 20px;
                        height: 20px;
                        border-radius: 50%;
                        background-color: Color(LG);
                    }
                }
            }
		}
		// end second form
	}
	// naviagte style
	.navigate {
		@include flex(row, space-between, center, none);
		height: 60px;
		position: fixed;
		bottom: 0;
		left: 0;
		width: 100%;
		padding: 0 20px;
		background-color: Color(WE);
		button {
			border: none;
			padding: 10px 20px;
			border-radius: 5px;
			font-family: inherit;
			font-weight: bold;
			font-size: 1.3rem;
			&:first-child {
				background-color: Color(WE);
				color: Color(CG);
                visibility: hidden;
                opacity: 0;
                transition: 300ms ease;
			}
			&:last-child {
				background-color: Color(MB);
				color: Color(WE);
			}
		}
	}
}
