@include mobile {
	// mobile design here
	body {
		background-color: Color(MA);
	}
	// steps style
	.steps {
		@include flex(row, center, flex-start, 20px);
		@include bg(Image('bg-side-mobile'));
		height: 200px;

		.step {
			.step__number {
				transition: background 200ms
					cubic-bezier(0.25, 0.46, 0.45, 0.94);
				margin-top: 25px;
				width: 50px;
				height: 50px;

				font-size: 1.5rem;
				font-family: Font(Bold);

				border-radius: 50%;
				// make the color and border
				color: Color(WE);
				border: 2px solid Color(WE);
				@include flex(row, center, center, none);
			}
			.active {
				color: Color(MB);
				background-color: Color(LB);
				border-color: Color(LB);
			}

			// step info style
			.step__info {
				display: none;
			}
		}
	}

	// forms style
	.forms {
		position: absolute;
		left: 50%;
		top: 15%;
		border-radius: 10px;
		transform: translateX(-50%);
		background-color: Color(WE);
		padding: 25px;
		width: 95%;
		box-shadow: 0 5px 10px Color(PC);
		min-height: 300px;
		transition: height 100ms ease;
		// founded in all forms
	}
	
	// naviagte style
	.navigate {
		@include flex(row, space-between, center, none);
		height: 60px;
		position: fixed;
		bottom: 0;
		left: 0;
		width: 100%;
		padding: 0 20px;
		background-color: Color(WE);
		button {
			border: none;
			padding: 10px 20px;
			border-radius: 5px;
			font-family: inherit;
			font-weight: bold;
			font-size: 1.3rem;
			&:first-child {
				background-color: Color(WE);
				color: Color(CG);
				visibility: hidden;
				opacity: 0;
				transition: 300ms ease;
			}
			&:last-child {
				background-color: Color(MB);
				color: Color(WE);
			}
		}
	}
}
